k8s {
    workDir = "/scratch-local/Onurcan.Bektas/"
}

process {
    executor = "slurm"
    clusterOptions = "--export=ALL --mail-type=END --mail-user=Onurcan.Bektas@lmu.de  --export=ALL"
    time = "1d"
    queueSize = "4"
}

process {
    executor = "local"
    maxForks = 4
}

docker {
    enabled = false
    temp = '/scratch-local/Onurcan.Bektas/axolotl.rulands.yun/'
}

singularity {
    enabled = false
    autoMounts = true
    temp = '/scratch-local/Onurcan.Bektas/axolotl.rulands.yun/'
    cacheDir = '/scratch-local/Onurcan.Bektas/axolotl.rulands.yun/'
}

conda {
    enabled = true
    useMamba = true
    cache = 'cache/'
}
