includeConfig 'base.config'

params {
    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '20.GB'
    max_cpus                   = 2
    max_time                   = '1.h'
}

report {
	enabled = true
	overwrite = true
}

profiles {
    debug_hpc {
        process.executor = 'local'
        singularity.enabled    = true
        singularity.autoMounts = true
        conda {
                enabled = false
                 useMamba = false
                         useMicromamba = false
        }
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }

	debug_mac {
        process.executor = 'local'
        docker.enabled    = false
        docker.autoMounts = false
        conda {
                enabled = true
                 useMamba = false
                         useMicromamba = true
        }
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }

    kcs {
        process.executor = 'slurm'
		// turn scratch off when debugging your pipeline
		process.scratch = '/gpfs/scratch/uh3o1/ra93mas/axolotl.rulands.yun/'
		process.stageOutMode = 'move'
		singularity {
			enabled = true
			autoMounts = true
			cacheDir   = '/dss/dsskcsfs01/pn72ra/pn72ra-dss-0000/ra93mas/tmp/'
		}
        conda {
                enabled = true
                useMamba = false
                useMicromamba = true
        }
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
     	queueSize = 100
    }

    asc {
        process.executor = 'slurm'
		process.scratch = '/scratch/o/Onurcan.Bektas/tmp/'
		process.stageOutMode = 'move'
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.cacheDir   = '/scratch/o/Onurcan.Bektas/tmp/'
        conda {
                enabled = true
                useMamba = false
                useMicromamba = true
        }
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
     	queueSize = 100
    }



}
