k8s {
    workDir = "/gpfs/scratch/uh3o1/ra93mas/axolotl.rulands.yun"
}

process {
    executor = "slurm"
    clusterOptions = "--partition=kcs_batch --cluster=kcs --export=ALL --mail-type=END --mail-user=Onurcan.Bektas@lmu.de  --export=ALL"
    time = "1d"
    queueSize = "4"
}

process {
    executor = "local"
    maxForks = 4
}

docker {
    enabled = false
    temp = '/gpfs/scratch/uh3o1/ra93mas/axolotl.rulands.yun/'
}

singularity {
    enabled = false
    autoMounts = true
    temp = '/gpfs/scratch/uh3o1/ra93mas/axolotl.rulands.yun/'
    cacheDir = '/gpfs/scratch/uh3o1/ra93mas/axolotl.rulands.yun/'
}

conda {
    enabled = true
    useMamba = true
    cache = 'cache/'
}
